{{#each data}}
<div class="card card-body mb-2">

    <h3>{{title}}</h3>
    <p>{{details}}</p>
    <div class="row">
        <a class="btn btn-dark btn-block col-md-6" href='/ideas/edit/{{id}}'>Edit Goal</a>
        <form class="col-md-6" action="/ideas/{{id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-block">Delete</button>
        </form>
    </div>
</div>
{{else}}
<h3>{{Nogoals}}</h3>
{{/each}}

{{#if showPagination}}

   <nav aria-label="..." class="mt-5">
        <ul class="pagination justify-content-center mb-4">
            {{#paginate current=current pages=pages}}{{/paginate}}
            {{!-- <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li> --}}
          </ul>
    </nav>
{{/if}}